.header {
   grid-column: 1 /-1;
   height: 100vh;
   max-height: 80vh;
   background: linear-gradient($color-primary-m-light, $color-primary-m-light), url(../images/hero.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.header__logo__content {
   display: grid;
   grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
   grid-template-rows: min-content;
   height: 90%;
   justify-items: center;

   &--logo {
      grid-column: 2/3;

      & span {
         color: $color-tertiary;
         font-family: "Times New Roman", Times, serif;
         font-size: 3rem;
      }
   }

   &--content {
      grid-column: 1/-1;
      align-self: center;

      &--title {
         font-size: clamp(3rem, 8vw, 10rem);
         font-weight: 300;
         color: white;
         text-transform: uppercase;
         margin: 0;
         padding: 0 2rem 0 $font-size-title;
      }

      &--para {
         font-size: clamp(1.6rem, 4vw, 4rem);
         font-weight: 500;
         margin: 0;
         padding: 0 2rem 2rem $font-size-title;
      }

      &--link {
         font-size: clamp(1.6rem, 4vw, 2.5rem);
         font-weight: 100;
         border-radius: 3px;
         display: inline-block;
         border: 1px solid $color-tertiary;
         margin-left: $font-size-title;
         padding: 0;
         line-height: 1;
         transition: $transition-duration;

         &:hover {
            background-color: white;
            color: $color-tertiary;
            font-weight: bold;
         }
      }
   }
}
