.events-content {
   grid-column: 1/11;
   background-color: $color-tertiary;
   height: auto;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;

   &--event {
      padding: 3rem 2rem;
      flex-basis: 30rem;
      flex-grow: 1;
      margin: 1rem;
      height: min-content;

      &__title {
         color: white;
         font-weight: 300;
         font-size: $font-size-subtitle;
         margin: 0;
      }

      &__para {
         color: white;
      }
   }

   .beach {
      background: url(/images/beach-party.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }

   .culture {
      background: url(/images/culture-discovery.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
}

.events-text {
   grid-column: 11/12;
   background-color: $color-tertiary;
   height: auto;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;

   &--title {
      font-size: $font-size-subtitle;
      font-weight: 400;
      margin: 0;
      transform: rotate(90deg);
   }
}

@media (max-width: 900px) {
   .events-text {
      grid-column: 11/-1;
   }
}
