.motto {
   grid-column: 1/-1;
   height: min-content;
   background-color: $color-primary;
   text-align: center;
   color: white;
   padding: $padding-section;

   &__title {
      font-size: $font-size-subtitle;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      margin-top: 0;

      &::selection {
         background-color: $color-tertiary;
      }

      &::after {
         content: "";
         position: absolute;
      }
   }

   &__subtitle {
      font-size: $font-size-regular;
      font-weight: normal;
      width: clamp(80%, 85%, 90%);
      margin: 0 auto;

      &::selection {
         background-color: $color-tertiary;
      }
   }
}
