.testimonials {
   grid-column: 2/12;
   padding: $padding-section;

   display: grid;
   grid-template-columns: repeat(auto-fit, 28rem);
   grid-gap: 5rem;
   place-content: center;

   &__card {
      width: 28rem;
      height: 30rem;
      border-radius: 5px;
      position: relative;

      &--front {
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         transition: all 1s ease-in-out;
         backface-visibility: hidden;
         transform: perspective(100rem);

         display: grid;
         justify-items: center;
         align-items: start;
         padding: 2rem;

         h2 {
            padding: 1rem;
            background-color: $color-secondary-m-light;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
         }
      }

      &--back {
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         transition: all 1s ease-in-out;
         backface-visibility: hidden;
         transform: perspective(100rem);

         display: grid;
         justify-items: center;
         align-items: start;
         padding: 3rem;

         p {
            place-self: center;
            font-size: 2rem;
            font-weight: 400;
            color: white;
         }
      }
   }

   .testimonials__card--back {
      transform: perspective(100rem) rotateY(0.5turn);
      background-color: $color-secondary;
   }

   &__card:hover .testimonials__card--front {
      transform: perspective(100rem) rotateY(0.5turn);
   }

   &__card:hover .testimonials__card--back {
      transform: perspective(100rem) rotateY(1turn);
   }

   &__card:nth-child(1) .testimonials__card--front {
      background-image: url(/images/testimonials-1.jpg);
   }
   &__card:nth-child(2) .testimonials__card--front {
      background-image: url(/images/testimonials-2.jpg);
   }
   &__card:nth-child(3) .testimonials__card--front {
      background-image: url(/images/testimonials-3.jpg);
   }
   &__card:nth-child(4) .testimonials__card--front {
      background-image: url(/images/testimonials-4.jpg);
   }
   &__card:nth-child(5) .testimonials__card--front {
      background-image: url(/images/testimonials-5.jpg);
   }
   &__card:nth-child(6) .testimonials__card--front {
      background-image: url(/images/testimonials-6.jpg);
   }
}
